@font-face {
  font-family: 'Inter Variable';
  src: url('/fonts/InterVariable-Latin.woff2') format('woff2-variations');
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
}

@font-face {
  font-family: 'Playfair Display';
  src: url('/fonts/PlayfairDisplay-Latin-400.woff2') format('woff2');
  font-style: normal;
  font-weight: 400;
  font-display: block;
}

@font-face {
  font-family: 'Playfair Display';
  src: url('/fonts/PlayfairDisplay-Latin-700.woff2') format('woff2');
  font-style: normal;
  font-weight: 700;
  font-display: block;
}

@font-face {
  font-family: 'Playfair Display';
  src: url('/fonts/PlayfairDisplay-Latin-700-Italic.woff2') format('woff2');
  font-style: italic;
  font-weight: 700;
  font-display: block;
}
